*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,120px);
    grid-template-rows: repeat(3,150px);
    gap: 10px;
    /* transform-style: preserve-3d; */
}
.card{
    /* border-radius: 10px; */
    border: 2px solid black;
    position: relative;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.grid-container .active{
    transform: rotateY(.5turn);
}
.card_front,.card_back{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    backface-visibility: hidden;
}
.card_front{
    background-image: url("/IMAGES/POKEMON_HEADING-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: red;
}
.card_back{
    background-color: #fff;
    transform: rotateY(.5turn);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.matched{
    pointer-events: none;
}